body{
  margin:0;
  overflow:hidden;
  background:black;
  font-family:Arial;
  color:#0ff;
}

/* Loading */
#loading{
  position:absolute;
  width:100%;
  top:40%;
  text-align:center;
}

.title{
  font-size:50px;
  text-shadow:0 0 20px cyan;
}

#bar{
  width:0%;
  height:5px;
  background:cyan;
  margin-top:10px;
  transition:1s;
}

/* Menu */
#menu{
  position:absolute;
  width:100%;
  top:40%;
  text-align:center;
  display:none;
}

button{
  padding:10px 20px;
  font-size:18px;
  border:1px solid cyan;
  background:black;
  color:cyan;
  cursor:pointer;
}